footer {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	height: 170px;
	box-sizing: border-box;
	padding: 1rem 0;
	margin-top: 1rem;
}

footer .main-col{
	text-align: center;
}

footer a, footer p{
	color: #fff;
}

footer p{
	font-size: 0.8rem;
	margin-top: 1.2rem;
}

.footer-nav a{
	text-decoration: none;
	margin: 0 1.6rem;
	font-size: 1.2rem;
}

.footer-nav a:hover {
	color: #e24f4f;
}

.footer-social img{
	height: 4rem;
	width: 4rem;
	margin: 0 2rem;
}

.footer-social img:hover{
	-webkit-filter: sepia(100%); filter: sepia(100%);
}