.main-col {
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}

main {
	height: 960px;
}

.box-nav {
	float: left;
	width: 60%;
}

/*first row*/
.row-1 {
	float: left;
	width: 100%;
	height: 320px;
	display: inline-block;
}

.box-1 {
	float: left;
	width: 66.66666%;
	height: 100%;
	background-color: #61aa5b;
}

.box-1-text {
	padding-left: 50px;
	padding-top: 60px;
}

.box-2 {
	float: left;
	text-align: center;
	width: 33.33333%;
	vertical-align: middle;
	line-height: 320px;
	background-color: #3b73e6;
}

/*second row*/
.row-2 {
	float: left;
	width: 100%;
	height: 320px;
	display: inline-block;
}

.box-3 {
	float: left;
	text-align: center;
	width: 33.33333%;
	vertical-align: middle;
	line-height: 320px;
	background-color: #e38e14;
}

.box-4 {
	float: left;
	text-align: center;
	width: 66.66666%;
	vertical-align: middle;
	line-height: 320px;
	background-color: #ca3d3d;
}

/*third row*/
.row-3 {
	float: left;
	width: 100%;
	height: 320px;
	display: inline-block;
}

.box-5 {
	float: left;
	width: 66.66666%;
	height: 100%;
	background-color: #3b73e6;
}

.box-6 {
	float: left;
	text-align: center;
	width: 33.33333%;
	vertical-align: middle;
	line-height: 320px;
	background-color: #e38e14;
}

.box-img {
	float: left;
	width: 40%;
}

.box-img img{
	height: 500px;
  }

  /*hover*/
.box-2:hover {
	background-color: #fff;
}

.box-3:hover {
	background-color: #fff;
}

.box-4:hover {
	background-color: #fff;
}

.box-6:hover {
	background-color: #fff;
}
/*hover ends*/


