.main-col {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

main a{
	color: #737ce6;
	text-decoration: none;
}

main h1{
	color: #a73d3d;
	font-weight: bold;
}

main h2, main h3{
	color: #464646;
	font-weight: bold;
}

main p, main li{
	color: #464646;
}

main a:hover{
	color: #e15f5f;
}