/*
########  #######  ##    ## ########  ######  
##       ##     ## ###   ##    ##    ##    ## 
##       ##     ## ####  ##    ##    ##       
######   ##     ## ## ## ##    ##     ######  
##       ##     ## ##  ####    ##          ## 
##       ##     ## ##   ###    ##    ##    ## 
##        #######  ##    ##    ##     ###### 
*/

html{
	font-family: 'Roboto Condensed', sans-serif, Arial;
}

/*
 ######   ######## ##    ## ######## ########     ###    ##       
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
##        ##       ####  ## ##       ##     ##  ##   ##  ##       
##   #### ######   ## ## ## ######   ########  ##     ## ##       
##    ##  ##       ##  #### ##       ##   ##   ######### ##       
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
 ######   ######## ##    ## ######## ##     ## ##     ## ######## 
*/

.main-col {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

main a{
	color: #737ce6;
	text-decoration: none;
}

main h1{
	color: #a73d3d;
	font-weight: bold;
}

main h2, main h3{
	color: #464646;
	font-weight: bold;
}

main p, main li{
	color: #464646;
}

main a:hover{
	color: #e15f5f;
}


/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/

header {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	height: 85px;
	box-sizing: border-box;
	padding: 1rem 0;
}

.left-nav {
	float: left;
	width: 42%;
	text-align: right;
}

.left-nav ul{
	list-style: none;
}

.left-nav ul li{
	display: inline-block;
	margin: 0 3rem;
}

.left-nav ul li a{
	color: #fff;
	font-size: 1.5rem;
	font-weight: normal;
	text-decoration: none;
}

.mid-nav {
	float: left;
	width: 16%;
	text-align: center;
	display: inline-block;
}

.mid-nav img{
	height: 55.5px;
	width: 100px;
}

.right-nav {
	float: left;
	width: 42%;
	text-align: left;
}

.right-nav ul{
	list-style: none;
	padding: 0;
}

.right-nav ul li{
	display: inline-block;
	margin: 0 3rem;
}

.right-nav ul li a{
	color: #fff;
	font-size: 1.5rem;
	font-weight: normal;
	text-decoration: none;
}

/*---hover---*/
.active, .right-nav ul li a:hover, .left-nav ul li a:hover {
	color: #e15f5f!important;
}


/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/

footer {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	height: 170px;
	box-sizing: border-box;
	padding: 1rem 0;
	margin-top: 1rem;
}

footer .main-col{
	text-align: center;
}

footer a, footer p{
	color: #fff;
}

footer p{
	font-size: 0.8rem;
	margin-top: 1.2rem;
}

.footer-nav a{
	text-decoration: none;
	margin: 0 1.6rem;
	font-size: 1.2rem;
}

.footer-nav a:hover {
	color: #e24f4f;
}

.footer-social img{
	height: 4rem;
	width: 4rem;
	margin: 0 2rem;
}

.footer-social img:hover{
	-webkit-filter: sepia(100%); filter: sepia(100%);
}


